.top {
    background-color: #f8f8f8;
    min-height: 100px
}

.top ul {
    list-style: none
}

.top ul li {
    margin: 15px;
    color: #777
}

.top ul li:last-child {
    margin-right: 0
}

.top li a:hover {
    text-shadow: 0 0 0 black;
    color: black
}