.master {
    position: relative;
    border: 1px solid #B9B9B9;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 25px 30px
}

.nfo, .master > ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}

.nfo img {
    border-radius: 60px;
    margin-right: 20px
}

.nfo > a {
    width: initial
}

.nfo button {
    padding: 17px 29px;
    border: 1px solid #47CB43;
    border-radius: 4px;
    background: #fff;
}

.nfo button:hover {
    color: #fff;
    background: #47CB43;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.master > ul {
    list-style: none
}

.master > ul li p {
    color: #2F80ED;
}

.gray p {
    color: #CACACA;
    margin-right: 20px;
    margin-bottom: 15px;
}

.text button {
    color: #CACACA;
    border: none;
    border-bottom: 1px dashed #CACACA;
    font-size: 1rem;
    background: none;
}

.text pre {
    width: 100%;
    white-space: pre-wrap;
    max-height: 5.5em;
    line-height: 1.4em;
    overflow: hidden
}

.gal {
    margin: 30px 0 20px 0
}

.gal img {
    border-radius: 4px;
    margin: 0 9px 9px 0;
    cursor: pointer;
}

.gal img:last-of-type {
    margin: 0
}

.vo {
    margin-top: 15px;
}

.vo a {
    color: #2F80ED
}




