.left {
    max-width: 30%;
}

.block {
    padding: 40px 52px 52px 52px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-top: 30px;
}

.block > b {
    font-size: 1.3rem;
}

.block > input {
    padding: 23px 33px;
    border: 1px solid #737373;
    border-radius: 4px;
    margin-top: 10px;
}

.filt {
    padding: 40px 52px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 10px;
}

.filt > b:nth-child(1) {
    font-size: 1.3rem;
}

.filt > ul {
    list-style: none;
}

.filt > ul > li:hover {
    color: #47CB43;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.filt > ul > li > ul > li {
    color: #545454;
    list-style: none;
    margin-top: 5px;
}

.filt > ul > li > ul > li:hover {
    color: #47CB43;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.filt > ul > li {
    margin-top: 15px;
}

.formi {
    padding: 40px 52px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 10px;
}

.formi > button {
    color: #fff;
    background: #47CB43;
    border-radius: 4px;
    padding: 17px;
    width: 100%;
    border: none;
}

.formi p {
    font-size: 0.8rem;
    color: #6f7580;
    margin-top: 15px;
}

.right {
    max-width: 68%;
    margin-top: 30px;
}

.right > div {
    position: relative;
    margin-bottom: 15px;
    padding: 40px;
    border: 1px solid #B9B9B9;
    border-radius: 8px;
}

.right > div:nth-child(1) {
    margin-bottom: 15px;
    padding: 0;
    border: none;
}

.right > div:nth-child(1) b {
    font-size: 1.3rem;
    margin: 0;
}
.right > div:nth-child(1) p {
    margin: 15px 0;
}

.right > div:nth-child(1) p:nth-child(1) {
    margin-top: 44px;
}

.right img {
    border-radius: 60px
}

.right > div > b {
    margin-left: 15px;
    margin-bottom: 20px;
}

.right span {
    position: absolute;
    left: 130px;
    top: 80px;
    color: #47CB43;
}

.very {
    margin-bottom: 20px;
}

.very a {
    color: #2F80ED;
}

.very button {
    padding: 17px 29px;
    border: 1px solid #47CB43;
    border-radius: 4px;
    background: #fff;
}

.very button:hover {
    color: #fff;
    background: #47CB43;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.grayp p {
    color: #CACACA;
    margin-right: 20px;
    margin-bottom: 15px;
}

.ss a {
    color: #CACACA;
    border-bottom: 1px dashed #CACACA;
}

.imge img {
    margin-top: 30px;
    border-radius: 4px;
    margin-right: 15px;
}

.vo {
    margin-top: 15px;
}

.vo a {
    color: #2F80ED
}


@media all and (max-width: 1200px) {
    .left {
        max-width: 48%;
    }
    .right {
        max-width: 48%;
    }
}


@media all and (max-width: 850px) {
    .left {
        max-width: 100%;
    }
    .right {
        max-width: 100%;
    }
    .block {
        padding: 20px 25px;

    }
    .filt {
        padding: 20px 25px;
    }

    .formi {
        padding: 20px 25px;
    }

    .right > div {
        padding: 20px;
    }
}
