.left {
    max-width: 30%;
}

.place {
    padding: 40px 52px 52px 52px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-top: 30px;
}

.place > b {
    font-size: 1.3rem;
}

.place > input {
    padding: 23px 33px;
    border: 1px solid #737373;
    border-radius: 4px;
    margin-top: 10px;
}

.cats {
    padding: 40px 52px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 10px
}

.cats > b {
    font-size: 1.3rem;
    margin-bottom: 10px
}

.cats ul {
    list-style: none
}

.cats ul ul {
    max-height: 0;
    overflow: hidden
}

.cats li li {
    margin: 5px 0;
    width: 100%
}

.cats li > b {
    display: block;
    cursor: pointer;
    margin-bottom: 5px
}

.formi {
    padding: 40px 52px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 10px;
}

.formi > button {
    color: #fff;
    background: #47CB43;
    border-radius: 4px;
    padding: 17px;
    width: 100%;
    border: none;
}

.formi p {
    font-size: 0.8rem;
    color: #6f7580;
    margin-top: 15px;
}

.right {
    max-width: 68%;
    margin-top: 30px;
}

.others {
    margin-bottom: 25px;
    padding: 0 20px;
    border: none;
}

.others b {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 15px
}

.others a {
    display: grid;
    grid-template-columns: 3fr minmax(100px, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin: 10px 0;
}



@media all and (max-width: 1200px) {
    .left {
        max-width: 48%;
    }
    .right {
        max-width: 48%;
    }
}


@media all and (max-width: 850px) {
    .left {
        max-width: 100%;
    }
    .right {
        max-width: 100%;
    }
    .place {
        padding: 20px 25px;
    }

    .formi {
        padding: 20px 25px;
    }

    .right > div {
        padding: 20px;
    }
}
