.sec {
    max-width: 1600px!important;
}

.forms {
    max-width:65%
}

.forms form {
    max-width: 220px
}

.forms form input[type=submit] {
    margin: 0;
    padding: 0 5px
}

.quick {
    max-width:35%
}

@media all and (max-width: 1000px) {
    .forms, .quick {
        max-width: 100%
    }
}