.tabs {
    margin: 40px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC
}

.tabs > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    box-shadow: 0 5px 15px -5px #CCC;
    height: 60px;
    width: 200px;
    max-width: 25vw;
    transition: all .3s;
    margin-right: 10px
}

.tabs > a:hover {
    box-shadow: none;
    border: 1px solid #CCC;
}

.tabs > a.on {
    border: 1px solid #CCC;
    transform: translateY(5px);
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    border-bottom: none;
}