.form small {
    color: red;
    width: 100%
}

.select select {
    margin-right: 15px;
    min-width: 60px;
    cursor: pointer
}

.form input, .form select {
    font-size: 1rem;
}

.form input[type=text], .form select {
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 15px 350px 15px 15px;
}

.form input[type=submit] {
    margin-top: 30px;
    border-radius: 4px;
    color: white;
    padding: 15px 30px;
    max-width: max-content;
    background: #47CB43;
}

.form select {

}

.form input, .radios {
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 15px 350px 15px 15px;
}



/*.radios input {*/
/*    margin: 0 0 0 5px;*/
/*}*/

/*.radios label {*/
/*    margin-left: 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.select select {*/
/*    margin-right: 15px;*/
/*    min-width: 60px;*/
/*    cursor: pointer*/
/*}*/