.bg {
    padding: 50px 0;
    background-color: #F6F6F6;
    width: 100%
}

.hr1 {
    background-color: #E2FFE1;
    width: 100%;
    min-height: 300px
}

.best {
    min-height: 256px
}

.best > div {
    max-width: 374px;
    padding: 40px 40px 40px 75px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-image: url(../public/images/home/best.png);
    background-repeat: no-repeat;
    background-position: 31px 40px;
    line-height: 140%;
    min-height: 173px
}

.best > div b {
    margin-bottom: 5px
}

.best > div:nth-child(2) {
    background-position: 31px -192px
}

.best > div:nth-child(3) {
    background-position: 31px -428px
}

.headline {
    font-size: 1.5rem;
    font-weight: normal
}

.sv > p {
    margin-bottom: 20px
}

.sv div > p {
    font-size: 1.1rem;
    text-shadow: 0 0 0 black;
    margin-bottom: 15px
}

.sv ul {
    list-style: none;
    margin-bottom: 40px
}

.sv li {
    width: 100%;
    max-width: 300px;
    line-height: 150%
}