

.pad b {
    padding-right: 10px;
}

.pad p {
    padding-right: 10px;
    color: #6d6d6d;
}

.cont {
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    padding: 15px;
    max-width: 65%;
    margin: 15px 0 10px 0;
}

.cont > p:nth-child(1) {
    color: #fff;
    background: #47CB43;
    padding: 5px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cont p {
    padding: 10px 0;
}

.cont a {
    color: #00688c;
}

